.App {
  text-align: center;
  font-family:'Montserrat', sans-serif;
  
  
}

.App header{
  display: flex;
  justify-content: space-between;
}

.App li {
  display: inline;
  float: right;
  
}

.App li a{
  display: block;
  padding: 8px;
  text-decoration: none;
  color: aliceblue;
  
  
  
}

.App header{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: 	#2E8B57;
}

.App li a:hover{
  text-decoration-line: #006400;
  text-decoration: underline;

}

.App header h1{
  color:aliceblue;
  margin-left: 3%;
  font-weight: bold;
  font-family: 'Montserrat';
}

.App header{
  align-items: center;
}

.App header input{
  border-radius: 10px;
  width: 14rem;
  height: 1.3rem;
}

